@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montsserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #E8E8E8;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #FF0031, #b31217);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 35px;
    color: #FF0031;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #FF0031;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.password-icon {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 20px;
    vertical-align: middle;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn {
    margin: 15px;
    font-family: 'Montsserrat', sans-serif;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Montsserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #FF0031;
    border-radius: 45px;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.60);
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.792);
    color: #ff0000;
    transform: translateY(-7px);
}

.btn:active {
    transform: translateY(5px);
}

.social-text {
    margin: 10px 0;
    font-size: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.social-icon:hover {
    color: #FF0031;
    border-color: #FF0031;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

#forgot-page {
    text-decoration: underline;
    color: rgb(1, 1, 7);
    border: none;
    font-size: 20px;
    margin: 5px;
}
#forgot-page:hover{
    color: rgb(39, 39, 205);
}

.left-panel {
    pointer-events: none;
}

.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-400%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}

/*Animation*/
.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(400%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}

/*Responsive*/
@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }

    form {
        width: 80%;
    }

    form.sign-up-form {
        display: none;
    }

    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }

    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }

    .panels-container {
        display: none;
    }

    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}


/* toasts css */

/* main container for stacking toasts */
.toast-container {
    width: 100%;
    max-width: 400px;
    position: fixed;
    height: 100px;
    /* display: flex;
    justify-content: center; */
    /* bottom: 0;
    left: 0;
    z-index: 1055;
    padding: 1rem;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; */
}

/* toast - ovverride from bootstrap */
.toast {
    width: 300px;
    max-width: 400px;

    /* slightly bigger than bootstrap default 350px */
    pointer-events: auto;
    height: 60px;
    border-radius: 10px;
    padding: 5px;

}

/* toast - style for notify not affecting bootstrap toast */
.toast[data-type] {
    position: relative;
    border: 0;
    color: #f8f9fa;
    background: linear-gradient(to bottom right, #4A4A4A, #2B2B2B);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

/* toast content */
.toast[data-type] .toast-content {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/* toast svg icon */
.toast[data-type] .toast-icon svg {
    width: 35px;
    height: 35px;
    display: block;
}

/* toast body - it contains title and message */
.toast[data-type] .toast-body {
    width: 100%;
    padding-left: 1rem;
    text-align: justify;
}

/* toast close button */
.toast[data-type] .close {
    position: absolute;
    top: 0;
    right: .25rem;
    color: inherit;
    background: none;
    margin: 0px;
    border: none;
    padding: 3px;
}


/* GENERAL */
.toast[data-type="info"] {
    background: linear-gradient(to bottom right, #007bff, #1d93d2)
}

.toast[data-type="warning"] {
    background: linear-gradient(to bottom right, #FF9500, #FC0);
    color: #343a40 !important
}

.toast[data-type="error"] {
    background: linear-gradient(to bottom right, #FF2A68, #FF5E3A)
}

.toast[data-type="success"] {
    background: linear-gradient(to bottom right, #28a745, #84b42d)
}

.toast[data-type="other"] {
    background: linear-gradient(to bottom right, #222221, #8f8f8e)
}